spring:
  application:
    name: eureka-client
  zipkin:
    base-url: http://localhost:8092/
    enabled: true
  sleuth:
    sampler:
      percentage: 1
server:
  port: 8082
eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8081/eureka/