spring:
  application:
    name: zuul
server:
  port: 8091

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8081/eureka/
zuul:
  routes:
    eureka-client: /ec/**
    feign: /fn/**