spring:
  application:
    name: feign
  zipkin:
    base-url: http://localhost:8092/
    enabled: true
  sleuth:
    sampler:
      percentage: 1
server:
  port: 8086
eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8081/eureka/

