spring:
  application:
    name: eureka-consumer

server:
  port: 8085
eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8081/eureka/

## 服务提供者名字
rmi:
  app:
    name: eureka-client