spring:
  application:
    name: config-server
  cloud:
    config:
      server:
        git:
          uri: https://github.com/sunjx1988/config-file
#          username: sunjx1988@163.com
#          password: 274122s
server:
  port: 8089